*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #edf0f5;
}

a,li {
    list-style: none;
    text-decoration: none;
}

form {
    background-color: #fff;
}

.content{
    margin-bottom: 155px;
}


.button_second{
    background-color: #42b72a;
}

footer {
    background-color: #fff;
    width: 980px;
}

footer > .container > div > a {
    color:#737373;
    font-size: 12px ;
    line-height: 1.34;
    margin-right: 0.5rem;
}

